[project]
	description = learn git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prasadhari210
[access "refs/for/refs/*"]
	read = group user/prasadhari210
	push = group user/prasadhari210
	label-Code-Review = -2..+2 group user/prasadhari210
	label-Verified = -1..+1 group user/prasadhari210
	rebase = group user/prasadhari210
	removeReviewer = group user/prasadhari210
	submit = group user/prasadhari210
[access "refs/heads/*"]
	read = group user/prasadhari210
	create = group user/prasadhari210
	push = +force group user/prasadhari210
	pushMerge = group user/prasadhari210
[access "refs/tags/*"]
	push = group user/prasadhari210
	push = +force group user/prasadhari210
